

.main {
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.main > * {
  margin: 2rem 0;
}

.description {
  /* display: inherit;
  justify-content: inherit; */
  /* align-items: inherit; */
  font-size: 1.35rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.setlist {
  /* margin: 2rem auto 2rem 0; */
}